---
import { getCollection } from "astro:content";
import HomePosts from "@/components/home/HomePosts.astro";
import HomeInfoBlock from "@/components/home/HomeInfoBlock.astro";
import Layout from "@/layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout title="Asatulla - Personal">
  <div>
    <section id="about" class="py-4">
      <HomeInfoBlock />
    </section>
    <hr />
    <section id="blog" class="py-4">
      {posts.length > 0 && <HomePosts posts={posts} />}
    </section>
  </div>
</Layout>
